<h1>Payment</h1>

<form action = "/payment/results">
  <label for ="giraffe">APR</label>
  <input id ="giraffe" type = "text" placeholder = "E.g. 5.42" name = "apr">

  <label for ="giraffe">Number of years</label>
  <input id ="giraffe" type = "text" placeholder = "How many years to repay?" name = "years">

  <label for ="giraffe">Principal</label>
  <input id ="giraffe" type = "text" placeholder = "How much principal?" name = "principal">

  <button>Calculate monthly payment</button>
</form>
