<h1>Square Root!</h1>

<form action = "/square_root/results">
  <label for ="giraffe">Enter a number</label>
  <input id ="giraffe" type = "text" placeholder = "What number do you want to square root?" name = "dog">

  <button>Calculate square root</button>
</form>
