<h1>Square Root!</h1>

<form action = "/sqrt/results">
  <label for ="giraffe">Enter a number</label>
  <input id ="giraffe" type = "text" placeholder = "What number do you want to square?" name = "dog">

  <button>Calculate square</button>
</form>
